In [1]:
from exploringShipLogbooks.config import non_slave_ships
from exploringShipLogbooks.classification import LogbookClassifier

C:\Users\Emma\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
cl = LogbookClassifier(classification_algorithm="Decision Tree")
cl.load_clean_and_classify(fuzz=False, export_csv=True)

Loading data...
Finding ship logs that mention slaves...
Found  464  logs that mention slaves
Finding training data...
Cleaning data...
Joining data sets...
Encoding data...
Extracting training and validation data...
Fiting classifier...
Validationg Classifier...

validation set 0  results:  Counter({0.0: 53, 1.0: 3})
validation set 1  results:  Counter({1.0: 6548, 0.0: 3})
Classifing unknown data...

94.43 of data was classified as  0.0
5.57 of data was classified as  1.0
Exporting data...

C:\Users\Emma\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: DtypeWarning: Columns (5,6,7,8,11,13,18,19,23,24,25,26,28,29,30,34,35,38,43,44,46,73,77,81,82,84,85,87,88,94,96,97,98,99,111,114,116,119,120,122,124,125,127,129,131,133,135,137,140) have mixed types. Specify dtype option on import or set low_memory=False.
  from ipykernel import kernelapp as app

# example of how to access data from outside of the classifier

In [5]:
# data that was classified (unknown class before classification)
cl.unclassified_logs.head()

   Nationality  ShipType  VoyageFrom  VoyageTo  Year  slave_logs
0            5        83         175       307  1785           4
1            5        83         175       307  1789           4
2           17        46          38        93  1847           5
3           17        82          68       288  1849           4
9            5        83         406        36  1662           5

In [6]:
# data used for validation: 20% of slave voyage logs
cl.validation_set_2.head()

      Nationality  ShipType  VoyageFrom  VoyageTo  Year  slave_logs
1651           13        14         395         7  1816           3
1652           16        14          26         7  1816           3
1653           16        14          26         7  1816           3
1654           16        14          26         7  1816           3
1655           16        61           7         7  1817           3

In [7]:
# data used for validation: logs that mention slaves in cliwoc data set
cl.validation_set_1.head()

     Nationality  ShipType  VoyageFrom  VoyageTo  Year  slave_logs
16             5        92         221       341  1763           2
30             5        56         176       210  1786           2
40             5        91         263       324  1761           2
55             5        56         496       324  1773           2
746            5        83          42       210  1756           2

In [8]:
# data used for training classifier
cl.training_data.head()

   Nationality  ShipType  VoyageFrom  VoyageTo  Year  slave_logs
0           17        16          38       277  1848           1
1           17        15          68       247  1849           1
2            5        26         333       393  1807           1
3            5        83         363       210  1819           1
4            5        83          42       235  1750           1

In [4]:
# cliwoc data original, with same indexes as outputs
cl.cliwoc_data_all.head()

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,...,ShipAndRig,ShipAndRigMemo,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem,slave_logs
LogbookIdent,,,,,,,,,,,,,,,,,,,,,
0,76420,NSA,Nederlands Scheepvaartmuseum Amsterdam,Amsterdam,Nederland,S431 (7),NaN,NaN,1-266,0,...,1,'journaal gehouden aan de velde bij? landt'. (...,0,NaN,0,NaN,0,0,NaN,0
0,77569,NSA,Nederlands Scheepvaartmuseum Amsterdam,Amsterdam,Nederland,S431 (7),NaN,NaN,1-266,0,...,1,(trokken zeil over lek heen),0,NaN,0,NaN,0,0,NaN,0
0,77568,NSA,Nederlands Scheepvaartmuseum Amsterdam,Amsterdam,Nederland,S431 (7),NaN,NaN,1-266,0,...,1,'konden met een stijve pomp het schip niet len...,0,NaN,0,NaN,0,0,NaN,0
0,77567,NSA,Nederlands Scheepvaartmuseum Amsterdam,Amsterdam,Nederland,S431 (7),NaN,NaN,1-266,0,...,0,NaN,0,NaN,0,NaN,0,0,NaN,0
0,77566,NSA,Nederlands Scheepvaartmuseum Amsterdam,Amsterdam,Nederland,S431 (7),NaN,NaN,1-266,0,...,0,NaN,0,NaN,0,NaN,0,0,NaN,0