In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.naive_bayes import MultinomialNB

import exploringShipLogbooks.wordCount as wc
from exploringShipLogbooks.basic_utils import extract_logbook_data
from exploringShipLogbooks.basic_utils import isolate_columns
from exploringShipLogbooks.basic_utils import isolate_training_data

from exploringShipLogbooks.config import *

# code that has been tested
- this should all run :) the rest of the functions still need to be made

In [8]:
from exploringShipLogbooks.classification import LogbookClassifier

In [9]:
cl = LogbookClassifier()
cl.load_data(['cliwoc','slave_voyages'])

#slave_mask = cl.find_logs_that_mention_slaves()
training_mask_neg = cl.find_training_data({'ShipName': non_slave_ships})

cliwoc_indices, slave_voyage_indices = cl.join_data()

C:\Users\Emma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3066: DtypeWarning: Columns (5,6,7,8,11,13,18,19,23,24,25,26,28,29,30,34,35,38,43,44,46,73,77,81,82,84,85,87,88,94,96,97,98,99,111,114,116,119,120,122,124,125,127,129,131,133,135,137,140) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# example of how to access data from outside of the classifier, if you want it

In [10]:
cl.cliwoc_data.head()

                         VoyageFrom  VoyageTo   ShipType Nationality  Year
0  ISLA DE ALBIMOR EN LAS GALAPAGOS   PACOCHA    FRAGATA     Spanish  1800
1   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790
2   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790
3   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790
4   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  PAQUEBOTE     Spanish  1790

In [11]:
cl.slave_voyage_logs.head()

,voyageid,evgreen,shipname,placcons,constreg,yrcons,placreg,regisreg,yrreg,national,...,adlt2imp,chil2imp,male2imp,feml2imp,filter_.,ncartot,pctemb,slastot,pctdis,datepl
1,1,1,Pastora de Lima ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Portugal,...,NaN,NaN,NaN,NaN,Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure
2,2,1,Tibério ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Not Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure
3,3,1,Paquete Real ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Selected,NaN,NaN,NaN,NaN,Guia de despacho (added)
4,4,1,Bom Caminho ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure
5,5,1,Benigretta ...,Alicante,Spain,NaN,Alicante,Spain,NaN,Spain,...,NaN,NaN,NaN,NaN,Not Selected,NaN,NaN,NaN,NaN,Invoice date at port of departure

In [7]:
cl.all_data.head()

  Nationality   ShipType                        VoyageFrom  VoyageTo  Year
0     Spanish    FRAGATA  ISLA DE ALBIMOR EN LAS GALAPAGOS   PACOCHA  1800
1     Spanish  PAQUEBOTE   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  1790
2     Spanish  PAQUEBOTE   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  1790
3     Spanish  PAQUEBOTE   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  1790
4     Spanish  PAQUEBOTE   DESCONOCIDO (CREO QUE ACAPULCO)  SAN BLAS  1790